<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/main.css' />
</head>

<body>
    <section>
        <ul>
            <li>
                Menu
            </li>
            <li>
               Profile
            </li>
        </ul>
    </section>

    {{{body}}}
</body>

</html>