<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    <script type="text/javascript" src="../public/javascripts/main.js" async></script>
</head>

<body>
    <div>
        <div>
            <h1>Welcome to the English For Professional and Academic Communication extra credit page</h1>
            <h2>Are you a <a href="loginStudent">student</a> or a <a href="loginTeacher">teacher</a>? </h2>
        </div>
    </div>
</body>

</html>