<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main2.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/main.js" async></script>
</head>

<body>
    <div>
        <h1>Welcome to the English For Professional and Academic Communication extra credit page</h1>
        <div class="container">
            <h2>Are you a <a href="student-login">student</a> or a <a href="teacher-login">teacher</a>? </h2>
        </div>
    </div>
</body>

</html>