{{#if signUpSuccess}}
    <section>
        <header>Sign Up Successful. Check your email</header>
    </section>
{{/if}}

<div id="contenedor">
    <div class="contenido">
        <h1 class="text3">Ready to improve your English?</h1>
        <h2 class="text4">Log in to your account!</h2>
        <div class="lgns">
            <form action="/student-login/submit" method="post" id="forminicio">
                <label class="text5">Email</label>
                <br>
                <input type="text" id="email" placeholder="alumno@alumnos.upm.es" />
                <br>
                <br>
                <label class="text5">Password</label>
                <br>
                <input type="password" id="password" placeholder="Password" /><br>
                <button type="submit" class="ovalinpt oval-color">Sign in</button>
            </form>
            <br>Don't have an account yet? <a href="student-sign-up">Sign Up!</a>
        </div>
    </div>
</div>