<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>{{title}}</title>
</head>

<body>
    <div id="contenedor">
        <div class="contenido">
            <h1 class="text3">Only for teachers!</h1>
            <h2 class="text4">Log in to your account</h2>
            <div class="lgns">
                <form action="/teacher-login" method="POST" id="formlt">
                    <label class="text5">Email</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="example@upm.es" class="ovalinpt2"
                        required />
                    <br>
                    <br>
                    <label class="text5">Password</label>
                    <br>
                    <input type="password" name="password" id="password" placeholder="Password" class="ovalinpt2"
                        required /><br>
                    <button type="submit" class="ovalinpt oval-color">Log in</button>
                </form>
            </div>
            <h5 class="text6">Don't have an account yet? <a href="teacher-sign-up">Sign Up!</a></h5>
        </div>
    </div>
</body>

</html>