<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login Teacher</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/text.css">
    <script src="js/valLogTeach.js"></script>
</head>

<body>
    <div id="contenedor">
        <div class="contenido">
            <h1 class="text3">Only for teachers!</h1>
            <h2 class="text4">Log in to your account</h2>
            <div class="lgns">
                <form action="loginteacher" method="post" id="formlt">
                    <label class="text5">Email</label>
                    <br>
                    <input type="email" name="email" id="emailjs" placeholder="example@upm.es" class="ovalinpt2"
                        required />
                    <br>
                    <br>
                    <label class="text5">Password</label>
                    <br>
                    <input type="password" name="password" id="pssjs" placeholder="Password" class="ovalinpt2"
                        required /><br>
                    <input type="submit" value="Sign In" id="butt" class="ovalinpt oval-color" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>