{{# if signUpSuccess}}
<h1 class="text1">Sign Up Successful!</h1>
{{/if}}


<div>
    <div class="content">
        <h1 class="text3">Ready to improve your English?</h1>
        <h2 class="text4">Log in to your account!</h2>
        <section class="container">
            <form id="my-form" action="/student-login/submit" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Log in</button>
            </form>
        </section>
        <h5 class="text6">Don't have an account yet? <a href="student-sign-up">Sign Up!</a></h5>
    </div>
</div>