<header>
    <h1>Welcome to EFAPC's interactive platform</h1>
</header>
{{#if errors}}
<section class="errors">
    <ul>
        {{#each errors}}
        <li>{{this.msg}}</li>
        {{/each}}
    </ul>
</section>
{{/if}}
<section class="container">
    <form id="my-form" action="/student-sign-up/submit" method="POST">
        <h1>Student Sign Up</h1>
        <div class="msg"></div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password">
        </div>
        <div>
            <label for="confirmPassword">Confirm your password:</label>
            <input type="password" id="confirmPassword">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</section>