* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #0078dc;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
}

body {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../img/fondo_upm.jpg");
    /* background-color: white !important; */
}

.wrap-login {
    /* display: flex; */
    max-width: 680px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 30px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: 5ex auto 2ex auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    text-align: center;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    background: #0078dc;
    border-radius: 0.12em;
    text-decoration: none;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 1500;
    color: #FFFFFF;
    transition: all 0.2s;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    margin: -10px 10px 0 10px;
}

.button1:hover {
    color: #000000;
    background-color: #0079dc3a;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}